<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Baldussi</title>
</head>
<body>
    ,
<div style="width: 80%;">
    <pre>{{data}}</pre>
</div>
    {% if data %}
    <h1>DADOS DA API</h1>
    <ul>
        {% for item in data.results %}
            <li>gender: {{ item.gender }}</li>
            <li>name:  {{ item.name.title}} {{ item.name.first }}  {{ item.name.last }}</li>
            <li>location: {{ item.location.street.name }} {{ item.location.street.number }}</li>
            <li>city: {{ item.location.city }}</li>
           <li>state: {{ item.location.state }}</li>
            <li>country: {{ item.location.country }}</li>
            <li>postcode: {{ item.location.postcode }}</li>
            <li>Coordinates x: {{ item.location.coordinates.latitude }}</li>
            <li>Coordinates y: {{ item.location.coordinates.longitude }}</li>
            <li>timezone: {{ item.location.timezone.offset }} {{ item.location.timezone.description }}</li>
            <li>email: {{ item.email }}</li>
            <li>login: {{ item.login.username }}</li>
            <li>dob: {{ item.dob.date }}</li>
            <li>age: {{item.dob.age}}</li>
            <li>phone: {{ item.phone }}</li>
            <li>cell: {{ item.cell }}</li>
            <li>id: {{ item.id.value }}</li>
            <li>picture: <img src="{{ item.picture.thumbnail }}" alt=""></li>
            <li>nat: {{ item.nat }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Erro: {{ erro }};
        </p>
    {% endif %}
</body>
</html>