{% extends 'base.html' %}
{% block content %}
    {% if usuarios %}
    <table class="table table-striped table-hover table-sm table-responsive table-bordered mt-2">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Gênero</th>
            <th scope="col">E-mail</th>
            <th scope="col">Endereço</th>
            <th scope="col">País</th>
            <th scope="col">Telefone</th>
            <th scope="col">Idade</th>
          </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
              <tr class="text-center">
                <th scope="row">{{ forloop.counter }}</th>
                <td class="col-md-2">{{usuario.user_profile.title}} {{usuario.user_profile.first_name}} {{usuario.user_profile.last_name}}</td>
                <td>{{usuario.user_profile.gender}}</td>
                <td class="col-md-2">{{usuario.user_profile.email}}</td>
                <td class="col-md-2">{{usuario.location.street_name}} {{usuario.location.street_number}}</td>
                <td class="col-md-2">{{usuario.location.country}}</td>
                <td class="col-md-1">{{usuario.phone}}</td>
                <td>{{usuario.age}}</td>
              </tr>
        {% endfor %}
    </tbody>
</table>
    {% else %}
        <p>Erro: {{ erro }};
        </p>
    {% endif %}
{% endblock %}